.signin-container {
    max-width: 400px;
    margin: 10% auto 0; 
    padding: 10px;
    background-color: #999be8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
}

.signin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.signin-container form {
    display: flex;
    flex-direction: column;
}

.signin-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signin-container button {
    padding: 10px 20px;
    background-color: #565b95;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin-container button:hover {
    background-color: #202441;
}

.signin-container p {
    margin-top: 10px;
    color: #ee0707;
}